div.presentational-stat {
  margin         : 8px;
  padding        : 0;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : stretch;
}
div.presentational-stat > div {
  padding: .5em;
}
div.presentational-stat > div:first-child {
  max-height : 2em;
  line-height: 2em;
  padding    : 0 .5em;
}
div.presentational-stat div.bullet {
  display      : inline-block;
  border-radius: 100%;
  width        : .7em;
  height       : .7em;
  margin       : 0 .5em;
}