div.App > div.body {
  padding        : 1rem;
  overflow       : auto;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
}
div.App > div.menu ul {
  list-style-type: none;
  margin         : 8px;
  padding        : 0;
}
div.App > div.menu li {
  margin: 0;
}
*.grey {
  opacity: .5;
}