
div.App>div.body {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.App>div.menu ul {
    list-style-type: disc;
    margin: 4px;
    padding: 0 0 0 16px;
}
div.App>div.menu li {
    margin: 0;
}
