#LOGIN {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 0;
    z-index: 9999;
    transition: all .2s;
    opacity: 1;
    transform: scale(1);
}

#LOGIN.hide {
    opacity: 0;
    transform: scale(0);
}

div.app-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 8px;
}

body.start #splash1 {
    transform: translateY(-100%);
    transition: all 1s
}

body.start #splash2 {
    transform: translateY(100%);
    transition: all 1s
}