div.tfw-view-input {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 4px;
    transition: all .2s;
}

div.tfw-view-input label {
    font-size: 80%;
    padding: 2px .25rem;
}

div.tfw-view-input input {
    font-size: 1rem;
    border: none;
    padding: 0 .25rem;
    line-height: 2rem;
    transition: all .2s;
}
